{% extends 'base.html' %}

{% block title %}Página Client{% endblock %}

{% block content %}
<h1 class="text-center">Clientes</h1>
<div class="d-flex justify-content-end mb-2">
    <button type="submit" class="btn btn-outline-success" data-bs-toggle="modal"
        data-bs-target="#createClient">Adicionar</button>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr class="table-secondary border-dark">
                <th>#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>End.</th>
                <th>Telefone</th>
                <th>Data Nasc.</th>
                <th>CPF</th>
                <th>Criado em</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }} {{ client.last_name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.formatted_born_date }}</td>
                <td>{{ client.cpf }}</td>
                <td>{{ client.formatted_created_at }}</td>
                <td>
                    <div class="d-flex justify-content-evenly">
                        <a href="#!" data-bs-toggle="modal"
                        data-bs-target="#editClient_{{ client.id }}">
                            <i class="fa-regular fa-pen-to-square text-primary fa-2x"></i>
                        </a>
                        <a href="#!" data-bs-toggle="modal"
                        data-bs-target="#removeClient_{{ client.id }}">
                            <i class="fa-solid fa-trash text-danger fa-2x"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'app/modals/clients.html' %}

{% endblock %}