{% extends 'base.html' %} 
{% block title %}Página Inicial{% endblock %} 

{% block content %}

<!--Section: Statistics with subtitles-->
<section>
    <div class="row">
        <div class="col-xl-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                        <div class="d-flex flex-row">
                            <div class="align-self-center">
                                <i
                                    class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                            </div>
                            <div>
                                <h4>Propostas pendentes</h4>
                                <p class="mb-0">revisar</p>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h2 class="h1 mb-0">2,000</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                        <div class="d-flex flex-row">
                            <div class="align-self-center">
                                <i
                                    class="far fa-comment-alt text-warning fa-3x me-4"></i>
                            </div>
                            <div>
                                <h4>Propostas aprovadas</h4>
                                <p class="mb-0">Monthly blog posts</p>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h2 class="h1 mb-0">1,195</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                        <div class="d-flex flex-row">
                            <div class="align-self-center">
                                <i
                                    class="far fa-comment-alt text-warning fa-3x me-4"></i>
                            </div>
                            <div>
                                <h4>Propostas recusadas</h4>
                                <p class="mb-0">Monthly blog posts</p>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <h2 class="h1 mb-0">1,195</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                        <div class="d-flex flex-row">
                            <div class="align-self-center">
                                <h2 class="h1 mb-0 me-4">1,100</h2>
                            </div>
                            <div>
                                <h4>Total Apólices</h4>
                                <p class="mb-0">Monthly Sales Amount</p>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <i class="far fa-heart text-danger fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                        <div class="d-flex flex-row">
                            <div class="align-self-center">
                                <h2 class="h1 mb-0 me-4">730</h2>
                            </div>
                            <div>
                                <h4>Apólices ativas</h4>
                                <p class="mb-0">Monthly Cost</p>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <i class="fas fa-wallet text-success fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between p-md-1">
                        <div class="d-flex flex-row">
                            <div class="align-self-center">
                                <h2 class="h1 mb-0 me-4">20</h2>
                            </div>
                            <div>
                                <h4>Apólices vencidas</h4>
                                <p class="mb-0">Monthly Cost</p>
                            </div>
                        </div>
                        <div class="align-self-center">
                            <i class="fas fa-wallet text-success fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section: Statistics with subtitles-->
{% endblock %}
